---
---

@import "{{ site.theme }}";

table{width:100%;table-layout: fixed;overflow-wrap: break-word;}
td, th{border-collapse:collapse; border:1px solid #63a4e5}
thead, tfoot{background-color:#517990; color:#fff}

.onediv {background-color: red;width: 100%;min-height: 100vh;max-height: 100%;position: absolute;top: 0;left: 0;margin: 0 auto;}
